/* turquoise template */

/* Backgrounds */
html{background:url('images/black/html-bg.png') repeat-x top left;}

#menu-categories.background{background: url("images/black/menu-category-bg.png") repeat-x scroll left top transparent;}

.mask{background:url('images/black/home-slider-mask.png');}

#small-slider h2 a, #menu-slider h3 a{color:#FCFAEA;}

#small-slider p {color:#b3b5b5;}

.widget-today-special h2.title a, .widget-news-events h3.title a {color:#626262;}

#intro{ background:url("images/black/menu-category-bg.png") repeat-x scroll left 74px transparent;}

#intro h1{ color:#f9f7ec; }

#small-slider h2 {color: #FCFAEA;}

#content{ background:url('images/sub-content-bg.jpg') repeat left top;}

.page h2{color:#626262;}

ul.bullets li, ul.arrows li, ul.stars li, ul.checklist li{ background-image: url("images/black/bullet-arrows.png"); }

ul.bullets, ol.list, ul.arrows, ul.stars, ul.checklist{ color:#626262; }

h2.title{color:#626262;}

.post h1 {color:#626262;}
.post h2 a, .post h2{color:#626262;}

.post .meta .comments{ background: url('images/black/icon-cloud.png') no-repeat top left;}

.post .meta .comments a{ color: #626262;}

.widget-today-special h2.title a{color:#626262;}

.widget-news-events h3.title a{color:#626262;}

#comments h2 {color: #626262;}

#comments ul.comment-avatar a {color: #626262;}

.add-comment h2 {color: #626262;}

.profile a {color: #626262;}

.widget-recent a{color: #626262;}

.widget-archives a{color: #626262;}

.events-calendar{background:url('images/black/callendar-events.png') no-repeat left top;}

.error404 h1 {color: #626262;}

.error404 h3 {color: #626262;}

.price-heading a{color: #626262;}

.review p{background:url('images/black/icon-testimonial.png') no-repeat left top;}

.portfolio-menu h3.title a{color: #626262;}
