@import "bootstrap";

body {
  background: #fff url('images/bg-body.png') top right;
  color: #000;
  font-family: Helvetica, sans-serif;
  /* font-size: 18px; */
}

a:link, a:visited {
  color: #754a7f;
}

#primary-container {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px;
}

header {
  border-bottom: 15px solid #7E5994;
  margin-bottom: 9px;
  padding: 20px 0;

  h1 {
    a {
      background: url('images/logo.png') no-repeat center center;
      display: block;
      height: 225px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 225px;
    }
  }
}

#sidebar {
  padding: 10px 0;
}

h2 {
  color: #E3AFED;
}

footer {
  padding: 20px 0;
  text-align: right;
}
