/* turquoise template */

/* Backgrounds */
html{background:url('images/pink/html-bg.png') repeat-x top left;}

#menu-categories.background{background: url("images/pink/menu-category-bg.png") repeat-x scroll left top transparent;}

.mask{background:url('images/pink/home-slider-mask.png');}

#small-slider h2 a, #menu-slider h3 a{color:#664e5e;}

#small-slider p {color:#413B34;}

.widget-today-special h2.title a, .widget-news-events h3.title a {color:#664e5e;}

#intro{ background:url("images/pink/menu-category-bg.png") repeat-x scroll left 74px transparent;}

#intro h1{ color:#664e5e; }

#small-slider h2 {color: #664e5e;}

#content{ background:url('images/sub-content-bg.jpg') repeat left top;}

.page h2{color:#664e5e;}

ul.bullets li, ul.arrows li, ul.stars li, ul.checklist li{ background-image: url("images/pink/bullet-arrows.png"); }

ul.bullets, ol.list, ul.arrows, ul.stars, ul.checklist{ color:#664e5e; }

h2.title{color:#664e5e;}

.post h1 {color:#664e5e;}
.post h2 a, .post h2{color:#664e5e;}

.post .meta .comments{ background: url('images/pink/icon-cloud.png') no-repeat top left;}

.post .meta .comments a{ color: #664e5e;}

.widget-today-special h2.title a{color:#664e5e;}

.widget-news-events h3.title a{color:#664e5e;}

#comments h2 {color: #664e5e;}

#comments ul.comment-avatar a {color: #664e5e;}

.add-comment h2 {color: #664e5e;}

.profile a {color: #664e5e;}

.widget-recent a{color: #664e5e;}

.widget-archives a{color: #664E5E;}

.events-calendar{background:url('images/pink/callendar-events.png') no-repeat left top;}

.error404 h1 {color: #664e5e;}

.error404 h3 {color: #664e5e;}

.price-heading a{color: #664e5e;}

.review p{background:url('images/pink/icon-testimonial.png') no-repeat left top;}

.portfolio-menu h3.title a{color: #664e5e;}
