/* turquoise template */

/* Backgrounds */
html{background:url('images/deep-blue/html-bg.png') repeat-x top left;}

#menu-categories.background{background: url("images/deep-blue/menu-category-bg.png") repeat-x scroll left top transparent;}

.mask{background:url('images/deep-blue/home-slider-mask.png');}

#small-slider h2 a, #menu-slider h3 a{color:#2c4466;}

#small-slider p {color:#faf8ed;}

.widget-today-special h2.title a, .widget-news-events h3.title a {color:#2c4466;}

#intro{ background:url("images/deep-blue/menu-category-bg.png") repeat-x scroll left 74px transparent;}

#intro h1{ color:#b2d4ff; }

#small-slider h2 {color: #b2d4ff;}

#content{ background:url('images/sub-content-bg.jpg') repeat left top;}

.breadcrumbs {color: #94897F;}

.page h2{color:#2c4466;}

ul.bullets li, ul.arrows li, ul.stars li, ul.checklist li{ background-image: url("images/deep-blue/bullet-arrows.png"); }

ul.bullets, ol.list, ul.arrows, ul.stars, ul.checklist{ color:#2c4466; }

h2.title{color:#2c4466;}

.post h1 {color:#2c4466;}
.post h2 a, .post h2{color:#2c4466;}

.post .meta .comments{ background: url('images/deep-blue/icon-cloud.png') no-repeat top left;}

.post .meta .comments a{ color: #2c4466;}

.widget-today-special h2.title a{color:#2c4466;}

.widget-news-events h3.title a{color:#2c4466;}

#comments h2 {color: #2c4466;}

#comments ul.comment-avatar a {color: #2c4466;}

.add-comment h2 {color: #2c4466;}

.profile a {color: #2c4466;}

.widget-recent a{color: #2c4466;}

.widget-archives a{color: #2c4466;}

.events-calendar{background:url('images/deep-blue/callendar-events.png') no-repeat left top;}

.error404 h1 {color: #b2d4ff;}

.error404 h3 {color: #2c4466;}

.price-heading a{color: #2c4466;}

.review p{background:url('images/deep-blue/icon-testimonial.png') no-repeat left top;}

.portfolio-menu h3.title a{color: #2c4466;}
